:root {
  /* Light theme (default) */
  --bg-app: var(--white);

  /*Sidebar*/
  --sidebar-bg: rgba(236, 242, 249, 1);
  --sidebar-item-bg: rgba(255, 255, 255, 1);

  /*Components*/
  --bg-component: #ECF2F9;
  --bg-component-item: var(--white);
  --bg-input: var(--white);

  /*To-do list*/
  --primary: #6C63FF;
  --primary-dark: #3A42B0;

  /*Weather*/
  --gradient-text-white: linear-gradient(to bottom, #F9FAFB, rgba(249, 250, 251, 0) 100%);
  --gradient-text-black: linear-gradient(to bottom, #111827, #6B7280);


  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;
  --anti-flash-white: #ECF2F9;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --indigo: #1F2937;
  --blue: #4E8DB1;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);

  --color-background-component: var(--white);

  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--black-mute);
  --color-text-temperature: var(--gradient-text-black);
  --color-icon: var(--black-mute);

  --section-gap: 160px;
  --seo-default-animation: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
}

[data-theme='dark'] {
  --bg-app: var(--black-soft);

  /*To-do list*/
  --bg-component: rgba(0, 0, 0, 0.5);
  --bg-component-item: var(--black-soft);
  --bg-input: var(--black-soft);

  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  /*Sidebar*/
  --sidebar-bg: rgba(0, 0, 0, 0.5);
  --sidebar-item-bg: var(--divider-dark-1);

  --color-text-temperature: var(--gradient-text-white);


  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-heading: var(--text-dark-1);
  --color-text: var(--white-mute);
  --color-icon: var(--white-mute);
}

/* Auto dark mode based on system preference */
@media (prefers-color-scheme: dark) {
  :root {
    --sidebar-bg: rgba(0, 0, 0, 0.5);
    --sidebar-item-bg: rgba(0, 0, 0, 0.6);
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--white-mute);
    --color-icon: var(--white-mute);
  }
}

/* Основные стили */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
          color 0.5s,
          background-color 0.5s;
  line-height: 1.6;
  font-family:
          Montserrat,
          Inter,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Fira Sans',
          'Droid Sans',
          'Helvetica Neue',
          sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
